body{
	background-color: #dedb44;
}

h1{
	background-color:#f50b2c;
	text-align: center;
	height: 40px;
	border-radius: 10px;
	
}

h2{
	background-color:#f50b2c;
	text-align: center;
	padding-top: 10px;
	height: 40px;
	border-radius: 10px;
}

p{
 text-align: justify;
}

